<!doctype html>
<html ng-app="presentation">
<head>
  <meta charset="utf-8">
  <title>Custom Directives</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.1/css/reveal.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.1/css/theme/default.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6/lib/css/zenburn.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="//code.angularjs.org/1.2.15/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives/example.js"></script>
  <script src="js/directives/tooltip.js"></script>
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section class="present">
        <h1>AngularJS Custom Directives</h1>
        <p>by Nicholas Boll</p>
      </section>
      <section>
        <h2>Who Am I?</h2>
        <ul>
          <li><a href="http://twitter.com/NicholasBoll">@NicholasBoll</a></li>
          <li>I'm a Software Engineer at LogRhythm</li>
          <li>I've been using AngularJS for about 6 months</li>
        </ul>
      </section>
      <section>
        <h2>What are directives?</h2>
      </section>
      <section>
        <p>If you use Angular, you already use Directives (ex: ng-model)</p>
        <nb-example language="html">
          <div ng-init="message = 'Hello World!'">{{ message }}</div>
          <input ng-model="message">
        </nb-example>
      </section>
      <section>
        <h2>Why make your own?</h2>
        <p>Angular gives you many powerful directives</p>
        <p class="fragment">jQuery, right?</p>
      </section>
      <section>
        <h2>Directives are:</h2>
        <ul>
          <li class="fragment">A way to expand HTML to be more declarative</li>
          <li class="fragment">Components or behavior modifiers</li>
          <li class="fragment">How AngularJS allows you to hook into the DOM</li>
          <li class="fragment">Complicated</li>
        </ul>
      </section>
      <section>
        <h2>Creating a directive:</h2>
        <nb-example language="html">
          <hello-world></hello-world>
          <script>
            angular.module('presentation')
            .directive('helloWorld', function (/* dependencies */) {
              // directive factories return a config object
              return {
                restrict: 'E',
                link: function (scope, element, attrs) {
                  element.text('Hello World!');
                }
              }
            });
          </script>
        </nb-example>
      </section>
      <section>
        <h2>Config object</h2>
      </section>
      <section>
        <section>
          <h3><code>restrict</code></h3>
          <dl>
            <dt>"E"</dt>
            <dd>Element<pre><code><my-directive></my-directive></code></pre></dd>
            <dt>"A"</dt>
            <dd>Attribute<pre><code><div my-directive="exp"></div></code></pre></dd>
            <dt>"C"</dt>
            <dd>Class<pre><code><div class="my-directive: exp"></div></code></pre></dd>
            <dt>"M"</dt>
            <dd>Comment<pre><code><!-- directive: my-directive exp --></code></pre></dd>
          </dl>
        </section>
        <section>
          <h3>WTF?</h3>
          <p>CSS classes? Comments?!</p>
        </section>
        <section>
          <h3>Comment directives</h3>
          <p>Mostly used internal for directives like <code>ng-repeat</code></p>
          <p>This is because the Browser parses HTML into DOM and <em>then</em> Angular gets to it</p>
          <p>Ex: <code>my-directive</code> creates a <code>td</code></p>
        </section>
        <section>
          <nb-example language="html">
            <table>
              <tr>
                <td-directive></td-directive>
              </tr>
            </table>
            <table>
              <tr>
                <!-- directive: td-directive -->
              </tr>
            </table>
            <script>
              angular.module('presentation')
              .directive('tdDirective', function () {
                return {
                  replace: true,
                  template: '<td>Content</td>',
                  restrict: 'EACM'
                };
              });
            </script>
          </nb-example>
        </section>
        <section>
          <h3>Class directives</h3>
          <p>I don't suggest using classes as directives. CSS classes are style-hooks and not obvious that behavior is being added.</p>
        </section>
        <section>
          <h3>Note:</h3>
          <p>IE8 can't parse Element directives without the help of the <code>document.createElement</code> hack. Stick with <code>attribute</code> directives for IE8 support.</p>
        </section>
      </section>
      <section>
        <section>
          <h3><code>priority</code></h3>
          <p><code>Number</code></p>
          <p>Tells the <code>compiler</code> what order to process directives</p>
          <p>Higher numbers get processed first</p>
        </section>
        <section>
          <nb-example language="html">
            <ul ng-init="movies = ['Iron Man', 'Transformers', 'Superman']">
              <li my-paging="movies" ng-repeat="movie in movies">{{ movie }}</li>
            </ul>
            <script>
            angular.module('presentation')
            .directive('myPaging', function () {
              return {
                priority: 1000,
                link: function (scope, element, attrs) {
                  var items = scope.$eval(attrs.myPaging);
                  var itemsPerPage = 2;
                  var pagableItems = angular.copy(items);

                  function page (index) {
                    items.length = 0;
                    pagableItems.slice(index, index + itemsPerPage).forEach(function (item, index) {
                      items.push(item);
                    });
                  }

                  page(0);

                  // Set up some UI for the next page
                }
              };
            });
            </script>
          </nb-example>
        </section>
      </section>
      <section>
        <section>
          <h3><code>terminal</code></h3>
          <p><code>Boolean</code></p>
          <p>True means no further compiling will be done of lower priority or child directives</p>
        </section>
        <section>
          <nb-example language="html">
            <div ng-init="message = 'Hello World'">
              Binding: {{ message }}
              <div my-non-bindable>Non-binding: {{ message }}</div>
            </div>
            <script>
            angular.module('presentation')
            .directive('myNonBindable', function () {
              return {
                terminal: true
              };
            });
            </script>
          </nb-example>
        </section>
      </section>
      <section>
        <section>
          <h3><code>scope</code></h3>
          <ul>
            <li class="fragment"><code>Boolean</code> or <code>Object</code> hash</li>
            <li class="fragment">Set to <code>true</code> for a new scope</li>
            <li class="fragment">Set to <code>Object</code> hash for an <code>isolate</code> scope</li>
            <li class="fragment">Scopes have prototypical inheritance</li>
          </ul>
        </section>
        <section>
          <h3>New Scope</h3>
        </section>
        <section>
          <nb-example language="html">
            <div ng-init="message = 'Inherit Scope'; foo = 'bar'">
              <div>Normal scope: {{ message }}, {{ foo }}</div>
              <div my-new-scope>New scope: {{ message }}, {{ foo }}</div>
            </div>
            <script>
            angular.module('presentation')
            .directive('myNewScope', function () {
              return {
                scope: true,
                link: function (scope) {
                  scope.message = "New Scope";
                }
              }
            });
            </script>
          </nb-example>
        </section>
        <section>
          <h3>Isolate Scope</h3>
          <dl>
            <dt><code>=</code></dt>
            <dd>Two-way binding between parent and local scope (sharing)</dd>
            <dt><code>@</code></dt>
            <dd>One-way (parent to local) binding by interpolation. Ex: <code ng-non-bindable>hello {{name}}</code></dd>
            <dt><code>&</code></dt>
            <dd>Provides a way to execute an expression in the context of a parent scope.</dd>
          </dl>
        </section>
        <section>
          <nb-example language="html">
            <div ng-init="message = 'World'">
              <div>Parent: {{ message }}</div>
              <input ng-model="message">
              <div my-isolate-scope one-way="Hello {{ message }}" two-way="message" expression="message = 'Jim'">
                <div>One way: {{ oneWay }}</div>
                <div>Two way: {{ twoWay }}</div>
                <button ng-click="expression()">Expression</button>
              </div>
            </div>
            <script>
              angular.module('presentation')
              .directive('myIsolateScope', function () {
                return {
                  template: [
                    '<div>One way: <input ng-model="oneWay"></div>',
                    '<div>Two way: <input ng-model="twoWay"></div>',
                    '<div><button ng-click="expression()">expression</button></div>'
                  ].join(''),
                  scope: {
                    oneWay: '@',
                    twoWay: '=',
                    expression: '&'
                  }
                };
              });
            </script>
          </nb-example>
        </section>
      </section>
      <section>
        <section>
          <h3><code>controller</code></h3>
          <ul>
            <li class="fragment">Actually more like a Directive Controller</li>
            <li class="fragment">Should not contain DOM</li>
            <li class="fragment">Should contain business logic and writing to local scope</li>
            <li class="fragment">Should be unit-testable without DOM</li>
            <li class="fragment">Defines an API for directive communication</li>
          </ul>
        </section>
        <section>
          <h3><code>require</code></h3>
          <ul>
            <li class="fragment"><code>String</code> or <code>String[]</code></li>
            <li class="fragment">Require a directive controller from the current or parent element</li>
            <li class="fragment"><code>(no prefix)</code> is current element, <code>^</code> is parent and <code>?</code> means optional</li>
            <li class="fragment">Angular will pass required controllers as forth argument to linking function</li>
          </ul>
        </section>
        <section>
          <nb-example>
            <parent-directive ng-init="message = 'Hello World'">
              <child-directive ng-model="message"></child-directive>
            </parent-directive>
            <script>
              angular.module('presentation')
              .directive('parentDirective', function () {
                return {
                  restrict: 'E',
                  transclude: true,
                  template: '<div>Parent: {{ message }}</div><div ng-transclude></div>',
                  controller: function ($scope) {
                    this.setMessage = function () {
                      $scope.message = 'Jim';
                    };
                  }
                };
              })
              .directive('childDirective', function () {
                return {
                  restrict: 'E',
                  template: '<div>Child: {{ message }}</div><button ng-click="setParentMessage()">Change</button>',
                  require: [
                    '^parentDirective', // required parentDirective controller
                    '?ngModel' // optional ngModel controller
                  ],
                  link: function (scope, element, attrs, controllers) {
                    var parentController = controllers[0];
                    var ngModel = controllers[1];

                    scope.setParentMessage = parentController.setMessage;
                  }
                }
              })
            </script>
          </nb-example>
        </section>
      </section>
      <section>
        <section>
          <h3><code>template</code></h3>
          <ul>
            <li class="fragment"><code>String</code> or <code>Function(tElement, tAttr)</code></li>
            <li class="fragment">Replaces contents of directive with <code>HTML</code></li>
            <li class="fragment">Migrates attributes and classes from old element</li>
          </ul>
        </section>
        <section>
          <h3><code>templateUrl</code></h3>
          <ul>
            <li class="fragment"><code>String</code></li>
            <li class="fragment">Like <code>template</code>, but loaded from URL</li>
            <li class="fragment">Loads asynchronously, suspends compile/link stages</li>
            <li class="fragment">Use for dev, <code>$templateCache</code> for prod and testing</li>
          </ul>
        </section>
        <section>
          <h3><code>replace</code></h3>
          <ul>
            <li class="fragment">Boolean</li>
            <li class="fragment"><code>true</code> to replace the current element with template (must be 1 root element in template)</li>
            <li class="fragment"><code>false</code> to replace contents of current element</li>
          </ul>
        </section>
        <section>
          <nb-example>
            <my-template-directive class="someclass">
              I will be replaced
            </my-template-directive>
            <my-replace-template-directive class="someclass">
              I will also be replaced
            </my-replace-template-directive>
            <script>
              angular.module('presentation')
              .directive('myTemplateDirective', function () {
                return {
                  restrict: 'E',
                  replace: false,
                  template: '<div>Replaced by template</div>'
                };
              })
              .directive('myReplaceTemplateDirective', function () {
                return {
                  restrict: 'E',
                  replace: true,
                  template: [
                    '<div>',
                      '<span>Replaced element as well</span>',
                    '</div>'
                  ].join('')
                };
              });
            </script>
          </nb-example>
        </section>
      </section>
      <section>
        <section>
          <h3><code>transclude</code></h3>
          <ul>
            <li class="fragment"><code>Boolean</code></li>
            <li class="fragment">Typically used with <code>ng-transclude</code> and an isolate <code>scope</code></li>
            <li class="fragment">Makes it possible to make a widget with an isolate scope, but have transcluded content bound to parent scope</li>
          </ul>
        </section>
        <section>
          <h3>What?</h3>
        </section>
        <section>
          <p>Think of a widget where your template is a picture frame and <code>ng-transclude</code> is the place where the picture goes</p>
        </section>
        <section>
          <nb-example>
            <div ng-init="message = 'Hello World'">
              <my-panel panel-title="My Title">
                <p>This content is transcluded like a picture!</p>
                <p>{{ message }}</p>
              </my-panel>
            </div>
            <script>
              angular.module('presentation')
              .directive('myPanel', function () {
                return {
                  restrict: 'E',
                  scope: {
                    localTitle: '@panelTitle'
                  },
                  transclude: true,
                  template: [
                    '<div class="panel">',
                      '<div class="title">{{ localTitle }}{{ message }}</div>',
                      '<div class="content" ng-transclude></div>',
                    '</div>'
                  ].join('')
                };
              });
            </script>
          </nb-example>
        </section>
      </section>
      <section>
        <section>
          <h3><code>link</code></h3>
          <ul>
            <li class="fragment"><code>Function (scope, iElement, iAttributes, controller, transcludeFn)</code></li>
            <li class="fragment"><code>Object { preLink: Function, postLink: Function}</code></li>
            <li class="fragment">If <code>function</code>, it is a <code>postLink</code> function</li>
            <li class="fragment">Use if no <code>compile</code> function is needed (most of the time)</li>
            <li class="fragment"><code>controller</code> is a reference or array of references to required controllers (including controller of the directive if applicable)</li>
            <li class="fragment">If <code>transclude</code> is true, <code>transcludeFn</code> will be a pre-bound transclude function for cloning (<code>ng-repeat</code>)</li>
          </ul>
        </section>
        <section>
          <h3><code>preLink</code></h3>
          <ul>
            <li class="fragment">Rarely used in practice - actually similar to <code>controller</code></li>
            <li class="fragment">Used when you need to change a <code>scope</code>, but not <code>DOM</code></li>
            <li class="fragment">Angular uses for <code>form</code> and <code>ngInit</code></li>
          </ul>
        </section>
        <section>
          <h3><code>postLink</code></h3>
          <ul>
            <li class="fragment">Can add <code>DOM</code> listeners and manipulate <code>DOM</code></li>
            <li class="fragment">Most directive code will go here</li>
          </ul>
        </section>
        <section>
          <h3><code>compile</code></h3>
          <ul>
            <li class="fragment"><code>Function (tElement, tAttributes)</code></li>
            <li class="fragment">Used to transform the <em>template</em> DOM</li>
            <li class="fragment">Returns a <code>link</code> function or object</li>
            <li class="fragment">Notice there is no <code>scope</code></li>
          </ul>
        </section>
        <section>
          <h3><code>compile</code> vs <code>link</code></h3>
          <p>Think of <code>underscore</code> or <code>Handlebar</code> templates: you compile a string into a template function, then call the template function with data.</p>
          <p>Handlebars:</p>
          <pre><code ng-non-bindable>var template = Handlebars.compile('<div>{{ title }}</div>');
var html = template({ title: 'My Title' });</code></pre>
          <p>Angular:</p>
          <pre><code ng-non-bindable>scope.title = 'My Title';
var linkFn = $compile('<div>{{ title }}</div>');
linkFn(scope);</code></pre>
        </section>
        <section>
          <h3><code>compile</code> vs <code>link</code></h3>
          <p><code>compile</code> is added for performance. It is only run once while link is run for each clone</p>
        </section>
      </section>
      <section>
        <h2>General Rules</h2>
        <ul>
          <li class="fragment">Should be easy to use</li>
          <li class="fragment">Should be modular and reusable by reducing concern</li>
          <li class="fragment">Should only read scope. Controllers write scope</li>
          <li class="fragment">Limit functionality to UI and UI behavior</li>
          <li class="fragment">Controllers for inter-directive communication (doesn't mess with scope)</li>
          <li class="fragment">Remember to clean up: <code>scope.$on('$destroy', ...</code></li>
        </ul>
      </section>
      <section>
        <section>
          <h2>API Considerations: Components</h2>
          <ul>
            <li>Components with config (Imperitive)</li>
            <li>Components with transclude (Declaritive)</li>
          </ul>
        </section>
        <section>
          <h3>Impertitive Component: <code>ng-grid</code></h3>
          <iframe src="http://embed.plnkr.co/T6qaQX/preview" style="width: 30em; height: 30em;"></iframe>
        </section>
        <section>
          <h3>Declaritive Component: <code>angular-table</code></h3>
          <iframe src="http://embed.plnkr.co/yTQtZaOuTNGaU8HBtzQe/preview" style="width: 30em; height: 30em;"></iframe>
        </section>
        <section>
          <h3>Imperative</h3>
          <ul>
            <li class="fragment">Imperative is nice if you want to control the template</li>
            <li class="fragment">Makes for simple examples</li>
            <li class="fragment">All functionality/use cases need to be supported in code and configured</li>
            <li class="fragment">Much more isolated functionality</li>
          </ul>
        </section>
        <section>
          <h3>Declarative</h3>
          <ul>
            <li class="fragment">Declarative is nice if you want components to be customized</li>
            <li class="fragment">More daunting API to get started</li>
            <li class="fragment">Gives consumers of your directive API building blocks to create apps</li>
            <li class="fragment">Gives consumers a lot of power and flexibility through transclusion</li>
          </ul>
        </section>
      </section>
      <section>
        <section>
          <h3>Tooltips example</h3>
        </section>
        <section>
          <h3>Plain HTML</h3>
          <nb-example language="html">
            <div>
              <span title="I'm some tooltip">Hover over me!</span>
            </div>
          </nb-example>
        </section>
        <section>
          <h3>Angular Tooltip</h3>
          <nb-example>
            <div>
              <span nb-tooltip="I'm some tooltip">Hover over me!</span>
            </div>
          </nb-example>
        </section>
        <section>
          <pre>
            <code class="javascript">angular.module('presentation').directive('nbTooltip', function ($document, $compile) {
  return {
    scope: true,
    link: function (scope, element, attrs) {
      var tooltip = null;
      var tooltipLinker = $compile('<div class="tooltip">{{ text }}</div>');

      function showTooltip (event) {
        tooltip = tooltipLinker(scope);
        scope.text = attrs.nbTooltip;
        scope.$digest();
        tooltip.css({
          top: event.y + 5 + 'px',
          left: event.x + 5 + 'px'
        });
        $document.find('body').append(tooltip);
      }

      function hideTooltip (event) {
        tooltip.remove();
      }
      element.on('mouseover', showTooltip);
      element.on('mouseout', hideTooltip);

      scope.$on('$destroy', function () {
        element.off('mouseover', showTooltip);
        element.off('mouseout', hideTooltip);
      });
    }
  };
});</code>
          </pre>
        </section>
        <section>
          <h3>Tooltip example</h3>
          <ul>
            <li>Shows use of separate compile and link steps by using the <code>$compile service</code> (used when compiling bootstrapped apps)</li>
            <li>Shows how to add Angular compiled DOM after app is bootstrapped</li>
            <li>Shows cleanup through <code>$destroy</code> event</li>
          </ul>
        </section>
      </section>
      <section>
        <section>
          <h2>Example Directive</h2>
          <p>The directive used to power the examples in this presentation</p>
        </section>
        <section>
          <pre>
            <code class="javascript">angular.module('directives.example', []).directive('nbExample', function ($compile) {
  return {

    // create isolate scopes for examples
    scope: {},

    // Only match to element or attribute
    restrict: 'EA',

    // don't process any other directive
    terminal: true,

    // priority higher than other directives
    priority: 1000,

    // compile function - this will return a linking function
    compile: function (templateElement, templateAttributes) {

      /* compile the template. This will return a function that will create
       * real DOM within a scope - kind of like underscore templates return
       * a function that will operate on data
       * We need more control for this template than providing a template
       * attribute to the directive
       */
      var template = $compile('<div><h3>Example:</h3><pre><code></code></pre><div><h3>Output:</h3></div></div>');
      
      // Get the contents of the directive as a string for later use
      var example = templateElement.html();

      // Remove leading whitespaces and replace with a single return per line
      var leadingWhitespace = example.match(/^\s+/)[0];
      example = example.replace(new RegExp(leadingWhitespace, 'g'), "\n").replace("\n", '');
      
      templateElement.empty();

      // return the linking function
      return function link (scope, element, attrs) {

        // evaluate the template using a scope
        var html = angular.element(template(scope));
        html.find('code').addClass(attrs.language).text(example);
        html.find('div').append($compile(example)(scope));
        element.append(html);
      }
    }
  };
});</code></pre>
        </section>
      </section>
      <section>
        <h2>Questions?</h2>
      </section>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.1/lib/js/head.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.1/js/reveal.js"></script>
  <script>
    Reveal.initialize({
      dependencies: [
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.1/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ],
      history: true
    });
  </script>
</body>
</html>